.container {
    width: 327px;
    height: 543px;
    background-color: var(--blueCard);
    border-radius: 15px;
}

@media screen and (min-width: 700px) {
    .container {
        width: 350px;
        height: 596px;
    }
}